name: Playwright Web Testing on LambdaTest

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: write

jobs:
  playwright-tests:
    runs-on: ubuntu-latest

    env:
      USERNAME_LT: ${{ secrets.USERNAME_LT }}
      ACCESS_KEY_LT: ${{ secrets.ACCESS_KEY_LT }}
      LT_GRID_URL: mobile-hub.lambdatest.com

      # Email testing
      MANDRILL_API_KEY: ${{ secrets.MANDRILL_API_KEY }}
      MAILCHIMP_API_KEY: ${{ secrets.MAILCHIMP_API_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Trigger Appium tests in test-appium repo
        run: |
          response=$(curl -X POST -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.PAT_TOKEN }}" https://api.github.com/repos/netgitqa/QAAssessmentWD/dispatches -d '{"event_type": "trigger-appium-tests"}')
          echo "Response: $response"
        continue-on-error: true